[submodule "telereel-fileserver"]
	path = telereel-fileserver
	url = https://github.com/amarseillaise/telereel-simple-http-file-server.git
[submodule "telereel-bot"]
	path = telereel-bot
	url = https://github.com/amarseillaise/telereel-bot.git
	branch = dev
